<ion-footer class="foo">
  <div class="redes">
    <a href="https://www.facebook.com" target="_blank" rel="noopener" class="text">
      <ion-icon name="logo-facebook"></ion-icon>
    </a>
    <a href="https://www.youtube.com/" target="_blank" rel="noopener">
      <ion-icon name="logo-youtube" style="color: red;"></ion-icon>
    </a>
    <a href="https://wa.me/5930981423267" target="_blank" rel="noopener">
      <ion-icon name="logo-whatsapp" style="color: green;"></ion-icon>
    </a>
  </div>
  <!-- MENU -->
  <div class="redes"> 
    <ion-button fill="outline" expand="full">
      <a routerLink="/nosotros" (click)="ir1()">
        NOSOTROS    
      </a>
    </ion-button>
    <ion-button fill="outline" expand="full">
      <a routerLink="/preguntas" (click)="ir2()">
        PREGUNTAS FRECUENTES
      </a>
    </ion-button>
    <ion-button fill="outline" expand="full">
      <a routerLink="/horario" (click)="ir3()">
        HORARIOS  
      </a>
    </ion-button>
    <ion-button fill="outline" expand="full">
      <a routerLink="/pronto" (click)="ir4()">
        PRONTO...
      </a>
    </ion-button>
  </div>
  <h4 style="text-align: center;">
     Derechos reservados ℗ Kuma_2025
  </h4>
</ion-footer>