<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title>HORARIOS</ion-title>

    <ion-buttons slot="start">  
      <ion-back-button defaultHref="/principal"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>  
</ion-header>

<ion-content [fullscreen]="true" class="fondo">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">horarios</ion-title>
    </ion-toolbar>
  </ion-header>

  <section>
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-title class="titulo">
            Lunes - viernes
          </ion-card-title>
          <ion-card-content class="texto">
            8:00 - 12:00 / 13:00 - 17:00
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card>
          <ion-card-title class="titulo">
            Sabado - Domingo
          </ion-card-title>
          <ion-card-content class="texto">
            8:00 - 12:00 /  13:00 - 18:00
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </section>



</ion-content>
