ion-content{
   --background:rgb(253, 253, 253);
}

ion-img{
    height: 80%;
}

.dis{
    text-align: center;
}

.espa{
    margin: 20px 0;
}
.carta{
    height: 100%;
    width: 50%;
    margin: 10px auto;
}

p{
 text-align: center;
}
/* separaciones 20-60-20 */
.container{
    display: flex;
    width: 100%;
    height: 100%;
}
//COLUMNAS LATERALES
.col{
    flex: 0 0 20%;
    background: #000;
}
//COLUMNAS CENTRALES
.ccol{
    flex: 0 0 60%;
    background: red;
}
//opcional- son espacios
.left-col{
    padding-right:4px ;
}
.right-col{
    padding-right: 4px;
}